.div_footer {
    background-color: rgb(1, 107, 168);
    width: autopx;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    height: 200px;
}

.relleno_formulario {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
}

.titulo {
    text-align: center;
    background-color: rgb(1, 107, 168);
    color: white;
    margin-top: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla_servicios {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10;
    color: white;
}

.selector {
    background-color: #ffffff;
    color: rgb(1, 107, 168);
    height: 30px;
    width: 500px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}

.solicitudServicios {
    background-color: rgb(1, 107, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 800px;
    border-radius: 25px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.relleno_formulario {
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: rgb(1, 107, 168) ;
}

.relleno_formulario2 {
    height: 30px;
    border-radius: 10px;
    margin-top: 10;
    width: 650;
}

