

.fondo-bajo {
    width: 100%;
    height: 50px; 
    background-color: rgb(0, 64, 255);
    left: 0;  
}

footer {
    display: none;  /* Se oculta inicialmente */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 18px;
}

.fondo-bajo2{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    padding: 10px;
}


.navbar
{
    margin: 0;
    background-color: rgb(47, 37, 114);
    font-weight: bold;
    height: 280px;
    justify-content: space-between;
}

.imagenLogoDCH
{   
    width: 250px;
    height: 100px;
    margin-left: 900;
    top: 1000;
}
    
.imagenLogoIZQ
{
    width: 250px;
    height: 100px;
    left: 0;    
    margin: 0;
}

.botones
{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(198, 198, 198);
    height: 60px;
    justify-content: center;
    gap: 150px;
    margin: 10;
    border-color: white;
    
}

.boton
{
    font-weight: bold;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    margin: 5;
}

.imgFondo
{
    display: flex;
    margin: 0;  
    height: 50px;
    object-fit: contain;
}

.navbar2    
{
    width: 100%;
    height: 650px;
    background-color: white;
}

.linea 
{
    width: 100%; 
    height: 3px;
    background-color: rgb(127, 125, 125);
    border: none;   
    margin:0;
}

.tv1i
{
    left: 50%; /* Colocado en el lado izquierdo */
    color: white; /* Color del texto */
    font-weight: bold; /* Estilo negrita */
    font-size: 15px; /* Tamaño del texto */
    width: 70px;
}

.navbar3
{
    margin: 0;
    background-color: rgb(52, 81, 186);
    font-weight: bold;
    height: 160px;
    justify-content: space-between;

}

.botonVolver {
    display: flex;
    left: 0;
    margin: 10;
}

.tv2i
{
    position: absolute; 
    top: 50%;
    left: 0; 
    transform: translateY(-50%); 
    writing-mode: vertical-rl;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 70px;
}

.navbar4
{
    margin: 0;
    background-color: rgb(52, 81, 186);
    font-weight: bold;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    height: 575px;
}

    .columnas
    {
        margin: 15;
        background-color: rgb(205, 205, 205);
        color: black;
        border-radius: 20px;
        height: 370px;
        width: 1000px;
    }

    .panel-container {
        display: none;
        width: 40%;
        margin: 20px auto;
        display: grid;
        gap: 30px;
    }
    .panel {
        background-color: rgb(52, 81, 186);
        color: white;
        padding: 20px;
        text-align: left; /* Alinea el texto a la izquierda */
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        height: auto;
        display: flex;
        flex-direction: row; /* Mantiene los elementos en fila */
        align-items: center;
        gap: 15px;
    }
    
.fotorueda
{
    margin: -45;
    width: auto;
    height: 110px;
    left: 0%;
    display: flex;
}

    
.texto-panel 
{
    display: flex;
    flex-direction: column; 
    left: 20;
}


    /* Nueva sección para historia de la fábrica Michelin Vitoria */
.historia-fondo {
    margin: 30px auto;
    width: 80%;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos globales para las listas */
.historia-fondo ul {
    list-style-type: square;
    margin-left: 20px;
}

.historia-fondo ul li {
    margin-bottom: 10px;
}

/* Añadir un poco de separación antes de la historia */
.fondo-bajo {
    padding-bottom: 50px;
}
