.fondo
{
    height: 100%;
}

.navbar
{
    margin: 0;
    background-color: rgb(47, 37, 114);
    font-weight: bold;
    height: 280px;
}

.imagenLogo
{
    width: 250px;
    height: 100px;
    left: 0;
    margin: 0;
}

.botones
{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: yellow;
    height: 80px;
    justify-content: center;
    gap: 150px;
    
}

.boton
{
    font-weight: bold;
    border-radius: 25px;
    height: 50px;
    width: 100px;
}

.imgFondo
{
    display: flex;
    margin: 0;  
}

.formulario
{
    display: flex;
    left: 10%;
    top: 20%;
    width: 250px;
    position: absolute;
    background-color: rgb(47, 37, 114);
    color: rgb(255, 234, 0);
    border-radius: 25px;
    justify-content: center;
    flex-direction: column;
    border-color: white;
    align-items: center;
}

.navbar2    
{
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url("tu-imagen.jpg"); 
    background-size: cover;
    background-position: center;
}

.linea 
{
    width: 100%; 
    height: 3px;
    background-color: rgb(127, 125, 125);
    border: none;   
    margin:0;
}
